<div class="alert alert-{{{bootstrapColor}}} alert-dismissible fade show" role="alert"">
	<p class="m-0"><strong><i class="fas fa-exclamation-triangle" aria-hidden></i> {{title}}:</strong> {{{message}}}</p>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden>&times;</span>
	</button>
</div>