<p class="lead">{{name}} shared a time with you, you can see it below in your timezone and in theirs.</p>

<p>We've done our best to infer your timezone, if we got it wrong, or if you'd just like to see the time in another timezone, you can change your timezone in the <em>About You</em> box.</p>